#translator-app-popup {
    position: fixed;
    top:20px;
    right:20px;
    padding: 10px;
    display:none;
    border-radius:10px;
    z-index: 9999;
}

#translator-app-popup p {
    color:#fff;
    font-size: 12px;
    position: relative;
    z-index: 2;
    text-align: center;
    text-shadow: 1px 1px #000;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
}

#translator-app-popup div {
    background: #000;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    border-radius:8px;
}

#translator-app-popup span {
    display: none;
}